.sidebar {
    position: fixed;
    right: rem(50px);
    top: rem(90px);
    z-index: 600;

    @include tablets {
        display: none;
    }
}
    
.nav {

    &__list {
        display: flex;
        flex-flow: column nowrap;
        align-content: flex-start;
    }

    &__item {
        &:hover .nav__item-link {
            background: #f9b43b;
        }
    }

    &__item-border {
        width: rem(15px);
        height: rem(15px);
        border-radius: 50%;
        border: rem(1px) transparent solid;
        margin-bottom: rem(7px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-border.active {
        border-color: $white;                    
    }

    &__item-link {
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background: $white;                    
    }
}