.we {
    background: url(../img/background/We.png) no-repeat;
    background-size: cover;
    @extend %center-flex;
}

.container--we {
    flex-flow: column nowrap;
    
    @include phones {
        align-items: flex-start;
    }
}

.title--black {
    color: $dark-grey;
    
    @include tablets {
        text-align: center;
        line-height: 1.2;
    }

    @include phones {
        margin-left: rem(50px);
    }
}

.best {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: rem(50px);

    @include phones {
        justify-content: flex-start;
        margin-top: rem(25px);
    }
    
    &__list {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;


        @include phones {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        width: rem(300px);
        height: rem(250px);
        margin-left: rem(30px);

        @include tablets {
            width: rem(212px);
            line-height: 1.2;
        }

        @include phones {
            flex-direction: row;
            margin-bottom: rem(10px);
            width: rem(350px);
            height: rem(150px);
        }
        
        &-pic {
            display: flex;
            width: rem(100px);
            height: rem(90px);
            background-repeat: no-repeat;
            align-self: center;
        }

        &-wrap {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            @include phones {
                width: rem(250px);
                padding-left: 20px;
            }
        }

        &-title {
            display: flex;
            align-self: center;
            font-size: rem(24px);
            font-family: "Lifehack";
            color: rgb(47, 50, 52);
            line-height: 1.167;
            width: rem(212px);
            min-height: rem(50px);
        }

        &-title--nat {
            padding-left: rem(25px);

            @include phones {
                padding-left: 0;
                margin-bottom: rem(20px);
                margin-top: rem(20px);
            }
        }

        &-desc {
            display: flex;
            justify-content: center;
            font-size: rem(14px);
            min-height: rem(100px);
            font-family: "Ubuntu";
            color: rgba(47, 50, 52, 0.8);
            line-height: 1.714;

            @include phones {
                font-size: rem(13px);
                line-height: 1.42;
            }
        }
    }
}