@function rem($px) {
    @return $px / 16px+0rem;
}

@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

%visible-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

%center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin phones-small {
    @media screen and (max-width: $phones-small) {
        @content;
    }
}

@mixin phones-min {
    @media screen and (max-width: $phones-min) {
        @content;
    }
}